venv
.venv
.coverage
.env
notes.md
**/*~
**/notebook.ipynb
**/report.html
.mypy_cache
.vscode
**/__pycache__/
tracker.xlsx
~$tracker.xlsx
monggregate.egg-info
UNKNOWN.egg-info
dist
test.py
site/
.pypirc
clean_pycache.ps1
test_deployments